type displayfeature, domain;
type displayfeature_exec, exec_type, file_type;
type displayfeature_service, service_manager_type;
    
binder_service(displayfeature)
binder_use(displayfeature)

allow displayfeature adbsecure_prop:file { getattr open };
allow displayfeature adbtcp_prop:file { getattr open };
allow displayfeature boot_mode_prop:file { getattr open };
allow displayfeature media_msm8956_version_prop:file { getattr open };
allow displayfeature media_msm8956hw_prop:file { getattr open };
allow displayfeature mm-pp-daemon:unix_stream_socket connectto;
allow displayfeature mmc_prop:file { getattr open };
allow displayfeature mpdecision_prop:file { getattr open };
allow displayfeature oem_sno_prop:file { getattr open };
allow displayfeature pps_socket:sock_file write;
allow displayfeature recovery_prop:file { getattr open };
allow displayfeature safemode_prop:file { getattr open };
allow displayfeature self:capability dac_override;
allow displayfeature spcomlib_prop:file { getattr open };
allow displayfeature sys_usb_configfs_prop:file { getattr open };
allow displayfeature sys_usb_controller_prop:file { getattr open };
allow displayfeature sys_usb_tethering_prop:file { getattr open };
allow displayfeature userinit_prop:file { getattr open };
allow displayfeature device_logging_prop:file { getattr open };
allow displayfeature displayfeature_exec:file { entrypoint getattr read };
allow displayfeature logpersistd_logging_prop:file { getattr open };
