allow init displayfeature_exec:file getattr;
allow init displayfeature_exec:file { execute open read };
allow init displayfeature:process { rlimitinh siginh transition };
allow init mmbn-daemon_exec:file getattr;
allow init mmbn-daemon_exec:file { execute open read };
allow init mmbn-daemon:process { rlimitinh siginh transition };
