type mmbn-daemon, domain;
type mmbn-daemon_exec, exec_type, file_type;
type mmbn-daemon_service, service_manager_type;
    
binder_service(mmbn-daemon)
binder_use(mmbn-daemon)

allow mmbn-daemon firmware_file:file { getattr open read };
allow mmbn-daemon firmware_file:dir search;
allow mmbn-daemon init:unix_stream_socket connectto;
allow mmbn-daemon property_socket:sock_file write;
allow mmbn-daemon qmuxd:unix_stream_socket connectto;
allow mmbn-daemon qmuxd_socket:dir { add_name write };
allow mmbn-daemon qmuxd_socket:sock_file { create write };
allow mmbn-daemon radio_prop:property_service set;
allow mmbn-daemon self:capability dac_override;
allow mmbn-daemon self:socket ioctl;
allow mmbn-daemon diag_device:chr_file { ioctl open read write };
allow mmbn-daemon mmbn-daemon_exec:file { entrypoint getattr read };
allow mmbn-daemon self:socket create;
allow mmbn-daemon sysfs:file { open read };
allow mmbn-daemon qmuxd_socket:dir search;
allow mmbn-daemon self:socket { read write };
